* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Manrope;
    background: url("images/bg-pattern.svg") no-repeat;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

.va-super {
    vertical-align: super;
}

.font-14 { font-size: 14px }
.font-32 { font-size: 32px }

.font-w-600 { font-weight: 600 }
.font-w-800 { font-weight: 800 }


.mr-5 { margin-right: 5px }
.mb-20 { margin-bottom: 20px }

.text-center {
    text-align: center;
}

.ls-1 {
    letter-spacing: 1px;
}

.uppercase {
    text-transform: uppercase;
}

.gray-8d8f9b {
    color: #8d8f9b;
}

.dark-28315c {
    color: #28315c;
}

.flex-vc {
    display: flex;
    align-items: center;
}

.justify-content-sp-bet {
    justify-content: space-between;
}

.heading {
    position: relative;
    padding: 2em 0;
}

.heading:after {
    content: url("images/pattern-circles.svg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: -1;
}

.title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 0.3em;
    color: #0c3672;
}

.description {
    font-size: 14px;
    color: #a9a9a9;
    font-weight: 600;
}

.card {
    padding: 1em 0 0;
    width: 510px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 3.5em;
    box-shadow: 0 1px 1px 1px #eae6e6;
}

.card .part {
    padding: 1.5em 2.5em;
}

.card .part:first-child {
    border-bottom: 1px solid #eeeeee;
}

#slider {
    width: 100%;
    border-radius: 50px;
    -webkit-appearance: none;
    height: 8px;
    background: linear-gradient(90deg, rgba(169,245,233,1) 50%, rgba(233,240,250,1) 50%);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url("images/icon-slider.svg") 5px 10px no-repeat #10bdaa;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
    box-shadow: 0 2px 15px 5px #9de5db;
    opacity: 0.5;
}

.advantage > div {
    color: #838997;
    font-size: 12px;
    margin-bottom: 10px;
}

.advantage > div:before {
    content: url("images/icon-check.svg");
    margin-right: 12px;
    font-weight: 600;
}

.btn-cta {
    padding: 12px 36px;
    border-radius: 20px;
    background-color: #293356;
    color: #eeeeee;
    font-size: 13px;
    font-weight: 800;
    transition: all 0.2s;
}

.btn-cta:hover {
    opacity: 0.9;
}

.m-y-switch {
    justify-content: flex-end;
    font-size: 12px;
    color: #777777;
    margin: 30px 20px 0;
}

.m-y-switch > div {
    margin: 0 3px;
}

.m-y-switch .discount {
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    border-radius: 20px;
    padding: 2px 8px;
    margin-left: 3px;
    font-size: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 100%;
    left: 4px;
    top: 3px;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: hsl(174, 86%, 45%);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}